@model CarDealsPlace.Domain.Models.OfferModel

<div class="vehicle-info">
    <p class="brand-model">@Model.Vehicle.Brand @Model.Vehicle.Model</p>
    <p class="year">Год выпуска: @Model.Vehicle.ProductionYear.Year</p>
    <p class="mileage">Пробег: @Model.Vehicle.Mileage км</p>
    <p class="type">Тип: @Html.DisplayFor(model => model.Vehicle.VehicleType)</p>
    <p class="transmission">Коробка передач: @Html.DisplayFor(model => model.Vehicle.TransmissionType)</p>
    <p class="price">Цена: @Model.Price $</p>
</div>
<div class="vehicle-images">
    <div class="slick-carousel">
        @foreach (var imageUrl in Model.Vehicle.ImageUrls)
        {
            <div class="vehicle-image">
                <img src="@imageUrl" alt="Car Image">
            </div>
        }
    </div>
</div>
