@model CarDealsPlace.Domain.Models.UserModel

@section Style {
    <link rel="stylesheet" href="/css/account/index.css">
}

<div class="page-wrapper">
    <div class="main-window">
        <div class="main-section">
            <img class="user-avatar" src="@Model.ImageUrl" alt="User Image" />
            <p><strong>Имя:</strong> @Model.Name</p>
            <p><strong>Номер телефона:</strong> @Model.PhoneNumber</p>
            <p><strong>Email:</strong> @Model.Email</p>
        </div>
        <div class="additional-section">
            <div class="login-info">
                <p><strong>Логин:</strong> @Model.Login</p>
                <p><strong>Пороль:</strong> @Model.Password</p>
            </div>
            <div class="buttons-section">
                <button id="logoutButton" class="logout-button">Выход</button>
                <button id="deleteButton" class="delete-button">Удалить</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.getElementById("logoutButton").addEventListener("click", function () {
            var result = confirm("Вы уверены, что хотите выйти из аккаунта?");
            if (result === true) {
                window.location.href = "/Account/Logout";
            }
            else {
                alert("Операция отменена.");
            }
        });
    </script>

    <script>
        document.getElementById("deleteButton").addEventListener("click", function () {
            var result = confirm("Вы уверены, что хотите удалить аккаунт?");
            if (result === true) {
                window.location.href = "/Account/Delete";
            }
        });
    </script>
}